.red {
    background: red;
}

event-grid-item .imgContainer {
    width: 100%;
    max-height: 150px;
}

event-grid-item .imgContainer > .eventName {
    color: white;
    text-align: center;
    padding: 0 10px;
    background: rgba(128, 128, 128, 0.45);
    border-radius: 5px;
}

md-sidenav img {
    width: 80%;
    padding: 5px;
    margin: 10px auto;
}

md-sidenav a.home {
    text-align: center;
}

body {
    height: 100vh;
    overflow: hidden;
}

event-grid-item .md-button {
    width: 90%;
}

.smallEventDetail {
    margin: 10px 0;
    text-align: center;
}

.smallEventDetail h4 {
    margin: 0;
    margin-bottom: 5px;
}

event-grid-item h2 {
    margin: 0;
}

ui-view md-grid-list {
    max-width: 1558px;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    box-shadow: rgba(109, 109, 109, 0.76) 0px 6px 20px 6px;
}

.nav-item {
    text-decoration: none;
    font-size: 18pt;
    margin: 10px 0;
    display: block;
    left: 2%;
    position: relative;
}

.nav-item.details {
    padding-left: 5%;
}

.nav-item.active {
    border-right: 5px solid transparent;
    background: rgba(177, 124, 49, .2);
    padding-top: 3px;
    padding-bottom: 3px;
}

md-input-container.filter {
    margin: 0;
    height: 0;
}

md-input-container.filter > label {
    color: #f1f1f1;
}

md-input-container.filter > input {
    color: #f1f1f1;
    border-color: #f1f1f1;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.roboto-large {
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.raleway-small {
    font-family: 'Raleway', sans-serif;
    font-size: 80%;
}

.raleway-large {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
}

.no-pad {
    padding: 0 !important;
}

.detail-banner {
    width: 100%;
}

.detail-banner > .detail-text {
    text-align: center;
    background: rgba(128, 128, 128, 0.45);
    padding: 0 20px;
    color: white;
    border-radius: 5px;
}

md-tabs[md-border-bottom]:not(.md-dynamic-height) md-tabs-content-wrapper {
    top: 55px;
}

.session-item-cont.active {
    border-right: 4px solid transparent;
    background: rgba(177, 124, 49, .2);
}

.session-item h3 {
    margin: 0;
    padding: 0;
}

.session-item h4 {
    margin: 0;
    padding: 0;
}

ui-view {
    margin: 0 !important;
    padding: 0 !important;
}

session-detail h4 {
    margin: 0;
    padding: 0;
}

.price-row > span {
    display: table-cell;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
}

.price-row > span:first-child {
    border-left: 1px solid #e5e5e5;
}

.price-row > span:last-child {
    border-right: 1px solid #e5e5e5;
}

.price-table > .price-row:last-child > span {
    border-bottom: 1px solid #e5e5e5;
}

.price-table > .price-row:nth-child(2n) > span {
    background: rgba(119, 136, 153, 0.23);
}
