<div
    layout="column"
    layout-align="start center"
    class="roboto"
    md-swipe-left="vm.onSwipeLeft()"
    md-swipe-right="vm.onSwipeRight()">
    <div layout-padding>
        <md-tabs aria-label="Speaker Types" md-selected="vm.currentNavItem" md-stretch-tabs="never">
            <md-tab md-nav-click="null" name="keynote">
                Keynote
            </md-tab>
            <md-tab md-nav-click="null" name="concurrent">
                Concurrent
            </md-tab>
        </md-tabs>
        <ui-view flex/>
    </div>    
</div>