<!DOCTYPE html>
<html>

<head>
    <title>Shingo Events</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/app.css">

    <link rel="Bookmark" href="/img/favicon.ico">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body ng-app="core">
    <div layout="row" layout-fill ng-controller="MainController as mc">
        <sidenav md-whiteframe="10"></sidenav>
        <div flex layout="column" layout-fill>
            <md-toolbar layout class="md-primary" md-whiteframe="3">
                <md-button hide-gt-md ng-click="mc.toggle('sidenav')">
                    <md-icon md-font-icon>menu</md-icon>
                </md-button>
                <span flex></span>
                <span ng-show="mc.showFilter" class="raleway">
                    <md-input-container class="filter">
                        <input type="text" placeholder="filter..." ng-model="mc.filter" />
                    </md-input-container>
                </span>
                <span flex="5"></span>
            </md-toolbar>
            <!-- Begin Frame content -->
            <div flex layout-fill style="overflow-y: auto;">
                <md-progress-linear ng-show="mc.showLoading" class="md-warn" md-mode="indeterminate" style="position: absolute;"></md-progress-linear>
                <ui-view layout-fill flex></ui-view>
            </div>
            <!-- End Frame content -->
        </div>
    </div>

    <!-- Vendor -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/lodash/lodash.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/node_modules/angular-scroll/angular-scroll.min.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- Application Modules -->
    <script src="/js/modules/data/_dataLayer.js"></script>
    <script src="/js/modules/ui/interface.agenda.js"></script>
    <script src="/js/modules/ui/interface.exhibitors.js"></script>
    <script src="/js/modules/ui/interface.recipients.js"></script>
    <script src="/js/modules/ui/interface.speakers.js"></script>
    <script src="/js/modules/ui/interface.sponsors.js"></script>
    <script src="/js/modules/ui/interface.venues.js"></script>
    <script src="/js/modules/ui/_interface.js"></script>
    <script src="/js/app.js"></script>

    <!-- Controllers -->
    <script src="/js/controllers/AgendaController.js"></script>
    <script src="/js/controllers/EventDetailController.js"></script>
    <script src="/js/controllers/EventGridItemController.js"></script>
    <script src="/js/controllers/EventListController.js"></script>
    <script src="/js/controllers/MainController.js"></script>
    <script src="/js/controllers/NavController.js"></script>
    <script src="/js/controllers/exhibitors/ExhibitorDetailController.js"></script>    
    <script src="/js/controllers/exhibitors/ExhibitorItemController.js"></script>  
    <script src="/js/controllers/recipients/RecipientDetailController.js"></script>
    <script src="/js/controllers/recipients/RecipientItemController.js"></script> 
    <script src="/js/controllers/recipients/RecipientsController.js"></script> 
    <script src="/js/controllers/sessions/SessionDetailController.js"></script>
    <script src="/js/controllers/sessions/SessionItemController.js"></script>
    <!--<script src="/js/controllers/sessions/SessionsController.js"></script>-->
    <script src="/js/controllers/speakers/SpeakerDetailController.js"></script>    
    <script src="/js/controllers/speakers/SpeakerItemController.js"></script>
    <script src="/js/controllers/speakers/SpeakersController.js"></script>    
    <script src="/js/controllers/sponsors/SponsorDetailController.js"></script> 
    <script src="/js/controllers/sponsors/SponsorItemController.js"></script>  
    <script src="/js/controllers/venues/VenueDetailController.js"></script>    
    <script src="/js/controllers/venues/VenueItemController.js"></script>    
    <script src="/js/controllers/venues/VenuesController.js"></script>    

    <!-- Directives -->
    <script src="/js/directives/BackgroundImage.js"></script>
    <script src="/js/directives/EventGridItem.js"></script>
    <script src="/js/directives/Sidenav.js"></script>
    <script src="/js/directives/exhibitors/ExhibitorDetail.js"></script>
    <script src="/js/directives/exhibitors/ExhibitorItem.js"></script>
    <script src="/js/directives/recipients/RecipientDetail.js"></script>
    <script src="/js/directives/recipients/RecipientItem.js"></script>
    <script src="/js/directives/sessions/SessionDetail.js"></script>
    <script src="/js/directives/sessions/SessionItem.js"></script>
    <script src="/js/directives/speakers/SpeakerDetail.js"></script>
    <script src="/js/directives/speakers/SpeakerItem.js"></script>
    <script src="/js/directives/speakers/SpeakerListItem.js"></script>
    <script src="/js/directives/sponsors/SponsorDetail.js"></script>
    <script src="/js/directives/sponsors/SponsorItem.js"></script>
    <script src="/js/directives/venues/VenueDetail.js"></script>
    <script src="/js/directives/venues/VenueItem.js"></script>

    <!-- Services -->
    <script src="/js/services/Days.js"></script>
    <script src="/js/services/Events.js"></script>
    <script src="/js/services/Exhibitors.js"></script>
    <script src="/js/services/Recipients.js"></script>
    <script src="/js/services/Sessions.js"></script>
    <script src="/js/services/Speakers.js"></script>
    <script src="/js/services/Sponsors.js"></script>
    <script src="/js/services/Venues.js"></script>

</body>

</html>