<md-content
    layout="column"
    layout-fill
    layout-align="start center"
    style="background: none; overflow: hidden;"
    class="roboto">
    <div layout-padding layout-fill>
        <md-nav-bar aria-label="Agenda Days" md-selected-nav-item="vm.currentNavItem">
            <md-nav-item md-nav-click="null" ng-repeat="day in vm.agenda | orderBy: 'Agenda_Date__c'" name="{{day.Id}}">
                {{day.Display_Name__c}}
            </md-nav-item>
        </md-nav-bar>
        <ui-view flex/>
    </div>
</md-content>