<md-content
    layout="column"
    layout-align="start center"
    style="background: none;"
    class="roboto">
    <!-- Event Banner -->
    <!-- Event Graphic With `title <br> dates <br> location` overlaid -->
    <div
        layout="column"
        layout-align="center center"
        md-colors="{background: 'warn'}"
        background-img="{{vm.event.Banner_URL__c}}"
        background-height="300px"
        background-color="{{vm.event.Primary_Color__c"
        background-watch="vm.event"
        class="detail-banner raleway-large">
        <div class="detail-text">
            <h2>{{vm.event.Name}}</h2>
            <h1 class="roboto">{{vm.event.Start_Date__c | date : short}} - {{vm.event.End_Date__c | date : short}}</h1>
            <h3>{{vm.event.Display_Location__c}}</h3>
        </div>
    </div>
    <span flex="5"><!-- spacer --></span>
    <!-- Logo and Sales Text (gt-sm row else col) -->
    <div
        layout-gt-sm="row"
        layout-padding
        layout-align="center center">
        <div flex layout layout-align="center center">
            <img style="width: 50%" ng-src="{{vm.event.Logo_Large__c || 'http://res.cloudinary.com/shingo/image/upload/v1386708394/Shingo_Logo_cxhekf.png'}}" />
        </div>
        <span ng-show="vm.event.Sales_Text__c" flex="5"><!-- spacer --></span>
        <div ng-show="vm.event.Sales_Text__c" flex class="raleway">
            <span><h3>About the {{vm.event.Name}}</h3></span>
            <span ng-bind-html="vm.event.Sales_Text__c" style="text-align: justify;"></span>
        </div>
    </div>
    <span flex="5"><!-- spacer --></span>
    <!-- Pricing Table and Video -->
    <div
        layout-gt-sm="row"
        layout-fill
        layout-padding
        layout-align="center center">
        <md-card ng-show="vm.event.Shingo_Prices__r" flex md-whiteframe="6" style="padding: 0;">
            <md-card-header md-colors="{background: 'accent'}" background-img="" background-color="{{vm.event.Primary_Color__c}}" background-watch="vm.event">
                <md-card-header-text>
                    Pricing
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout="column" layout-align="center center">
                    <div flex class="price-table" layout-fill>
                        <div layout class="price-row" ng-repeat="price in vm.event.Shingo_Prices__r.records | orderBy: 'Price__c' : 'desc'">
                            <span flex>{{price.Name}}</span><span style="text-align: right">{{price.Price__c | currency}}</span>
                        </div>
                    </div>
                    <span ng-show="vm.event.Registration_Link__c" flex="10"><!-- spacer --></span>
                    <div ng-show="vm.event.Registration_Link__c" layout layout-fill layout-align="center center">
                        <md-button class="md-raised md-primary" ng-href="vm.event.Registration_Link__c" target="_blank">Register</md-button>
                    </div>
            </md-card-content>
        </md-card>
        <span ng-show="vm.event.Video__c" flex="5"><!-- spacer --></span>
        <div ng-show="vm.event.Video__c" flex layout layout-align="center center">
            <iframe width="560" height="315" src="{{vm.event.Video__c}}" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
    <span flex="5"><!-- spacer --></span>
    <!-- Event Highlights (Keynotes and Recipients) -->
    <div
        layout
        layout-padding
        style="width: 100%"
        layout-align="center center">
        <md-card flex md-whiteframe="6" style="padding: 0;">
            <md-card-header md-colors="{background: 'accent'}" background-img="" background-color="{{vm.event.Primary_Color__c}}" background-watch="vm.event">
                <md-card-header-text>
                    Highlights
                </md-card-header-text>
            </md-card-header>
            <md-card-content layout-gt-sm="row">
                <div layout="column" flex>
                    <h3>Some Keynotes</h3>
                    <speaker-item person="speaker" ng-repeat="speaker in vm.highlightSpeakers" ui-sref="speakers.type.details({speaker: speaker.Id, id: vm.event.Id, type: (isKeynote(speaker) ? 'keynote' : 'concurrent')})"></speaker-item>
                </div>
                <span flex="5"><!-- spacer --></span>
                <div flex layout="column">
                    <h3>Some other Highlight</h3>
                    <span ng-bind-html="vm.event.Sales_Text__c"></span>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>