<div
    layout="column"
    style="background: none;"
    layout-fill
    layout-padding>
    <h1 style="text-align: center; width: 380px; margin-left: auto; margin-right: auto; border-bottom: 5px solid #b17c31;">Conferences & Summits</h1>
    <md-grid-list
        md-cols="6" md-cols-lg="12" md-cols-gt-lg="24"
        md-row-height="50px"
        md-gutter="15px"
        layout-padding>
        <md-grid-tile 
            class="md-whiteframe-6dp pointer"
            md-rowspan="{{6 - (!vm.isLarge(ev) ? 3 : 0)}}"
            md-colspan="6"
            md-rowspan-gt-sm="{{vm.getRows(ev)}}"
            md-colspan-gt-sm="{{vm.getCols(ev, true)}}"
            md-rowspan-gt-lg="{{vm.getRows(ev)}}"
            md-colspan-gt-lg="{{vm.getCols(ev) * 2}}"
            ng-repeat="ev in vm.events"
            style="border-radius: 10px;"
        >
            <event-grid-item
                event="ev"
                is-large="vm.isLarge(ev)"
                layout-fill>
            </event-grid-item>
        </md-grid-tile>
    </md-grid-list>
    <h1 id="studytours" style="text-align: center; width: 380px; margin-left: auto; margin-right: auto; border-bottom: 5px solid #b17c31;">Study Tours</h1>
    <md-grid-list
        md-cols="6" md-cols-lg="12" md-cols-gt-lg="24"
        md-row-height="50px"
        md-gutter="15px"
        layout-padding>
        <md-grid-tile 
            class="md-whiteframe-6dp pointer"
            md-rowspan="{{6 - (!vm.isLarge(ev) ? 3 : 0)}}"
            md-colspan="6"
            md-rowspan-gt-sm="{{vm.getRows(ev)}}"
            md-colspan-gt-sm="{{vm.getCols(ev, true)}}"
            md-rowspan-gt-lg="{{vm.getRows(ev)}}"
            md-colspan-gt-lg="{{vm.getCols(ev) * 2}}"
            ng-repeat="ev in vm.studyTours"
            style="border-radius: 10px;"
        >
            <event-grid-item
                event="ev"
                is-large="vm.isLarge(ev)"
                layout-fill>
            </event-grid-item>
        </md-grid-tile>
    </md-grid-list>
</div>