<div layout="column" layout-fill>
    <md-toolbar layout class="md-primary">
        <span flex><!-- spacer --></span>
        <md-button hide-gt-md ng-click="vm.toggle('sidenav')">
            <md-icon md-font-icon>menu</md-icon>
        </md-button>
    </md-toolbar>
    <md-content layout-fill layout-padding>
        <md-grid-list
            md-cols-sm="6" md-cols-md="12" md-cols-gt-md="24"
            md-row-height="1:1"
            md-row-height-gt-md="4:4"
            md-gutter="12px">
            <!--<event-grid-item event="ev" ng-repeat="ev in vm.events | orderBy: 'Start_Date__c'" layout-fill></event-grid-item>-->
            <md-grid-tile 
                class="md-whiteframe-6dp"
                md-rowspan="{{vm.getRows(ev)}}"
                md-colspan="{{vm.getCols(ev)}}"
                md-rowspan-gt-md="{{vm.getRows(ev) * 2}}"
                md-colspan-gt-md="{{vm.getCols(ev) * 2}}"
                ng-repeat="ev in vm.events | orderBy: 'Start_Date__c'">
                <event-grid-item event="ev" layout-fill></event-grid-item>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>