<md-sidenav
    layout="column"
    layout-fill
    class="md-sidenav-left roboto"
    md-component-id="sidenav"
    md-is-locked-open="$mdMedia('gt-lg')">

    <a
        href="https://shingo.org"
        class="home">
        <div
            layout
            layout-align="center center"
            class="logo"
            md-colors="{background: 'accent'}"
            ng-show="ev.Logo__c">
            <img ng-src="{{logo}}" />
        </div>
        <img ng-show="!ev.Logo__c" ng-src="{{logo}}" />
    </a>
    <md-divider></md-divider>
    <span flex="5"><!-- spacer --></span>
    <md-content layout-padding>
        <div ng-show="showDetails" class="raleway">
            <b>Event Details</b>
            <a ui-sref="event({id: ev.Id})" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">Summary</a>
            <a ui-sref="agenda({id: ev.Id})" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">Agenda</a>
            <a ui-sref="sessions({id: ev.Id})" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">Sessions</a>
            <a ui-sref="speakers({id: ev.Id})" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">Speakers</a>
            <a ui-sref="exhibitors({id: ev.Id})" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">Exhibitors</a>
            <a ui-sref="recipients({id: ev.Id})" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">Recipients</a>
            <a ui-sref="sponsors({id: ev.Id})" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">Sponsors</a>
            <a ui-sref="attendees({id: ev.Id})" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">Attendees</a>
            <md-divider></md-divider>
        </div>
        <a ui-sref="{{state.name}}" ng-repeat="state in states" ui-sref-active="active" class="md-primary nav-item" md-colors="{'border-color': 'warn', color: 'grey-900'}">
            {{state.title}}
        </a>
    </md-content>

</md-sidenav>