<div
    class="roboto"
    layout="column"
    layout-fill
    layout-align="start center"
    md-swipe-left="vm.onSwipeLeft()"
    md-swipe-right="vm.onSwipeRight()">
    <div layout-padding layout-fill>
        <md-tabs aria-label="Recipient Types" md-selected="vm.currentNavItem" md-stretch-tabs="never">
            <md-tab md-nav-click="null" name="prize">
                Shingo Prize
            </md-tab>
            <md-tab md-nav-click="null" name="silver">
                Silver Medallion
            </md-tab>
            <md-tab md-nav-click="null" name="bronze">
                Bronze Medallion
            </md-tab>
            <md-tab md-nav-click="null" name="research">
                Research
            </md-tab>
            <md-tab md-nav-click="null" name="publication">
                Publication
            </md-tab>
        </md-tabs>
        <div ui-view flex/>
    </div>    
</div>