<div
    layout="column"
    class="detail-pane"
    layout-padding
    style="height: calc(100vh - 100px);"
    layout-align="start center">
    <div layout-fill layout="column">
        <div layout="column" layout-align="start center">
            <div hide show-gt-sm>
                <h1>{{venue.Name}}</h1>
                <h2 class="raleway">{{venue.Address__c}}</h2>
            </div>
            <div hide-gt-sm>
                <b>{{venue.Name}}</b>
                <p class="raleway">{{venue.Address__c}}</p>
            </div>
            <iframe
                ng-show="venue.Google_Map_Trusted"
                style="width: 100%;"
                class="maps"
                frameborder="0"
                border="0"
                src="{{venue.Google_Map_Trusted}}"
                allowfullscreen></iframe>
        </div>
        <span flex="5"><!-- spacer --></span>
        <div layout flex>
            <md-grid-list
                style="width: 100%;"
                md-cols="1" md-cols-md="2" md-cols-lg="6" md-cols-gt-lg="6"
                md-row-height="150px"
                md-row-height-xs="250px"
                md-row-height-lg="200px"
                md-gutter="8px" md-gutter-gt-sm="4px" >

                <md-grid-tile ng-repeat="info in travel | orderBy: 'Order__c'"
                            md-rowspan="{{info.Row__c || 2}}"
                            md-colspan="{{info.Column__c || 2}}"
                            md-colspan-md="1"
                            md-colspan-sm="1"
                            md-colspan-xs="1"
                            class="travelInfoTiles"
                            layout-align="center center" >
                    <md-grid-tile-header class="blue-grey">
                        <h3 style="text-transform: uppercase">{{info.Title__c}}</h3>
                    </md-grid-tile-header>
                    <div 
                        layout="column"
                        layout-padding
                        layout-fill
                        class="content roboto"
                        layout-align="start center"
                        style="margin-top: 75px">
                        <span class="grid-text" ng-bind-html="info.Content__c"></span>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
    <span flex="10"><!-- spacer --></span>
</div>