<div
    layout="column"
    layout-fill
    layout-align="start center"
    class="roboto">
    <div layout="row" layout-fill>
        <md-list
            ng-show="vm.venues.length > 1"
            id="venueList"
            flex-gt-sm="33"
            class="list">
            <md-list-item
                id="{{venue.Id}}"
                class="md-2-line session-item-cont"
                md-colors="{'border-color': 'warn'}"
                ui-sref="venues.details({venue: venue.Id})"
                ui-sref-active="active"
                ng-repeat="venue in vm.venues | orderBy : 'Name' | filter : mc.filter"
                aria-label="Go to venue {{venue.Name}}">
                <venue-item venue="venue" flex></venue-item>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <div flex layout-padding class="raleway" style="overflow: auto;">
            <div ui-view />
        </div>
    </div>
</div>