<div layout>
    <div flex flex-gt-sm="33">
        <md-list id="sessionList">
            <md-list-item
                id="{{session.Id}}"
                class="md-2-line session-item-cont"
                md-colors="{'border-color': 'warn'}"
                ui-sref="agenda.day.session({session: session.Id})"
                ui-sref-active="active"
                aria-label="Go to Session {{session.Session_Display_Name__r}}"
                ng-repeat="session in day.Shingo_Sessions__r.records | orderBy : 'Start_Date_Time__c' | filter : mc.filter">
                <session-item session="session"></session-item>
            </md-list-item>
        </md-list>
    </div>
    <div show-gt-sm flex-gt-sm="66" layout-padding class="raleway">
        <ui-view></ui-view>
    </div>
</div>
<div hide-gt-sm flex="100" ng-show="$state.params.session" class="mobile-detail-container">
    <div class="mobile-detail _md md-dialog-fullscreen md-transition-in" role="dialog" layout="column" layout-fill class="raleway">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Session Details</h2>
                <md-button class="md-icon-button" ui-sref="agenda({id: ev.Id})">
                    <md-icon md-icon-font="close" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <ui-view></ui-view>
    </div>
</div>
