<md-content
    layout="column"
    layout-fill
    layout-align="start center"
    style="background: none;"
    class="roboto"
    md-swipe-left="vm.onSwipeLeft()"
    md-swipe-right="vm.onSwipeRight()">
    <div layout-padding layout-fill>
        <md-tabs
        aria-label="Agenda Days"
        md-selected="vm.currentNavItem"
        md-stretch-tabs="never">
            <md-tab md-nav-click="null" ng-repeat="day in vm.agenda | orderBy: 'Agenda_Date__c'" name="{{day.Id}}">
                {{day.Display_Name__c}}
            </md-tab>
        </md-tabs>
        <ui-view flex/>
    </div>
</md-content>